.Menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 128, 0, 0.256), rgba(0, 0, 0, 0.316)));

}

.Menu a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.Menu a:hover {
    background-color: rgba(34, 197, 94, 0.1);
    color: #26d29c;
}

.Menu a.active {
    background-color: #059669;
    color: white;
}

.Menu a.active:hover {
    background-color: #047857;
}

.Menu span {
    color: #9ca3af;
    user-select: none;
}

