/* Welcome Page Styles */
.Welcome {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* מונע גלילה של כל הדף - הגלילה תהיה רק בקומפוננט */
    position: relative;
}

/* Hide the header and navigation on the welcome page */
body.welcome-page .header,
body.welcome-page .menu,
body.welcome-page .navigation {
    display: none;
}

body.welcome-page {
    overflow: hidden; /* מונע גלילה של כל הדף - הגלילה תהיה רק בקומפוננט */
    height: 100vh;
}
